<!-- <TabView >
    <router-outlet *tabItem="{title:'Home'}" name="home"></router-outlet>

    <router-outlet *tabItem="{title:'About'}" name="about"></router-outlet>

    <router-outlet *tabItem="{title:'Portfolio'}" name="portfolio"></router-outlet>

    <router-outlet *tabItem="{title:'Contact'}" name="contact"></router-outlet>



</TabView> -->


<TabView #tabView androidTabsPosition="bottom" selectedIndex="0" tabBackgroundColor="orangered"  selectedTabTextColor="white" >

    <StackLayout *tabItem="{title: 'Home'}" >
        <page-router-outlet  name="homeTab" > </page-router-outlet>
    </StackLayout>
    
    <StackLayout *tabItem="{title: 'About'}" >
        <page-router-outlet  name="aboutTab" ></page-router-outlet>
    </StackLayout>

    <StackLayout *tabItem="{title: 'Portfolio'}">
        <page-router-outlet   name="portfolioTab"></page-router-outlet>
    </StackLayout>

   <StackLayout *tabItem="{title: 'Contact'}" >
       <page-router-outlet   name="contactTab" ></page-router-outlet>
   </StackLayout>

    
</TabView>
